:root  {
  --light-color: #FFD8E1;
  --dark-color: #0F1108;
  --darker-light-color: #FFA8C2;
  --alert-color: #E12222;
}


* {
    margin:  0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }